body {
  margin: 10px;
}

#main {
  background-color: #eeeeee;
}
#title {
  font-weight: bolder;
  color: #81a18a;
  padding: 15px;
}

#title p {
  color: black;
}

#img-div {
  background-color: #ffffff;
  padding: 30px;
}

#img-div img{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

#tribute-info {
  padding-top: 20px;
}
#tribute-info ul li {
  margin-top: 30px;
}

.blockquote {
  margin-top: 40px;
}
