body{
    margin: 10px;
}

#main {
  background-color: #eeeeee;
}
#title {
  font-weight: bolder;
  color: #81a18a;
  padding: 15px;
}

#title p{ 
    color: black;
}

#img-div {
    background-color: #ffffff;
    padding: 30px;
}
